/* Start variables*/
:root {
    --main-color : #10cab7;
}


/*End variables*/
/*Start Global Rules*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 ;
    padding:0;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.contaner {
    margin-left:auto ;
    margin-right: auto;
    padding:0 15px 0 15px;
}
/*Small*/
@media (min-width:768px) {
    .contaner {
        width: 750px;
    }
}
/*Medium*/
@media (min-width:992px) {
    .contaner {
        width: 970px;
    }
}
/*Large*/
@media (min-width:1200px) {
    .contaner {
        width: 1070px;
    }
}


/*End Global Rules*/
/*start header */
header .contaner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}
.logo {
    width: 60px;
}

nav {
    position: relative;

}
nav .icon {
    width: 30px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
nav .icon span {
    width: 100%;
    background-color: #222;
    height: 3px;
    margin-bottom:5px ;
    border-radius: 150px;
    transition: 0.5s ;
}
nav .icon span:nth-child(2) {
    width: 50%;

}
nav:hover span:nth-child(2) {
    width: 100%;

}
nav:hover .links {
    display: block;
}

nav .links {
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    list-style: none;
    background-color: #EEE;
    display: none;
}
nav .links::after {
    content: "";
    border: 10px solid #EEE;
    position: absolute;
    top: -20px;
    right: 5px;
    border-color: transparent transparent #EEE;

}

nav .links a {
    text-decoration: none;
    display: block;
    padding: 15px;
    color: #222;
    transition: 0.5s ;
}
nav .links li:not(:last-child) a {
    border-bottom:1px solid #ddd ;
}

nav .links a:hover {
    padding-left:25px ;
}

/*End header */

/*start landing*/
.landing{
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing .intro-text h1{
    margin: 0;
    color: var(--main-color);
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}
.landing .intro-text p{
    color: #000;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.landing .intro-text h1 {
    margin: 0;
}
/*End landing*/

/*Start features*/
.features {
    padding: 60px 0 60px ;
    background-color: #f6f6f6;
}
.features .contaner {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
    gap: 20px;
}
.features .feat {
    padding: 20px;
    text-align: center;
}
.features .feat span{
    color: var(--main-color);

}
.features .feat h3{
   font-weight: 800;
   margin: 30px 0;
}
.features .feat p{
    line-height: 1.8;
    color: #777;
    font-size:18px;
    font-weight: 300;
}

/*End features*/
/*Specal title*/

.title {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}
.title + p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}
@media (max-width:767px){
    .title {
        font-size: 60px;
    }
    .title +p {
        margin: -20px 0 0;
    }

}

/*End s-title*/


/*Start Services */
.Services {
    padding: 60px 0 120px;
}
.Services .cards {
    margin: 100px 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr)) ;
    gap: 30px;
}

.Services .cards .card {
    display: flex;
    justify-content: space-between;
}

.Services .cards .card h3 {
    margin: 0 0 20px;

}
.Services .cards i {
    color: var(--main-color);
    margin-right: 20px;
}
.Services .cards p {
    line-height: 1.8;
    color: #777;
    font-size: 18px;
    font-weight: 300;
}

@media (max-width:767px) {
    .Services .cards .card {
        flex-direction: column;
        text-align: center;
    }
    .Services .cards .card div h3{
        margin-top: 30px;
    }
}

.Services .cards .img  {
    position: relative;
    text-align: center;

}
.Services .cards .img::before {
    content: "";
    position: absolute;
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    background-color: #2c4755;
    right: 0;
    z-index: -1;

}
.Services .cards .img img{
    width: 260px; 
}
@media (max-width:1199px){
    .Services .cards .img{
       display: none;
    }
}
/*End Services */

/*start Portfolio */
.Portfolio {
    padding: 60px 0 100px;
    background-color: #f6f6f6;
}
.Portfolio .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 20px;
    margin: 100px 0 0;
}

.Portfolio .cards .card {
    background-color: #FFF;
}
.Portfolio .cards .card img {
    max-width: 100%;
}
.Portfolio .cards .card .info {
    padding: 20px;
}
.Portfolio .cards .card .info h3{
    margin: 0;
}

.Portfolio .cards .card p {
    line-height: 1.6;
    color: #777;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 0;
}
/*End Portfolio */
/*Start about*/
.about {
    padding: 60px 0 120px;

}
.about .content {
    margin: 100px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
@media (max-width:991px){
    .about .content {
        flex-direction: column;
        text-align: center;
        align-items:center ;
    
    }
    .about .content .imge {
        margin-bottom: 90px;
    }
}

.about .content .imge {
    position: relative;
    width:250px;
    height: 375px;

}
.about .content .imge img {
    max-width: 100%;
}
.about .content .imge::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    top: -40px;
    right: -150px;
    z-index: -1;
    border-left:80px solid #10cab7 ;
    border-bottom:80px solid #10cab7 ;
}
@media (max-width:600px){
    .about .content .imge::after {
        content: "";
        position: absolute;
        width: 100px;
        height: calc(100% + 80px);
        background-color: #10cab7;
        top: -40px; 
        right: -20px;
        z-index: -1;
        border: none;
    }
}

.about .content .imge::before {
    content: "";
    position: absolute;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    background-color: #ebeced;
    left: -20px;
    z-index: -1;

}
.about .text {
    flex-basis: calc(100% - 500px);
}
.about .text p:first-of-type {
    line-height: 2;
    color: #000;
    font-weight: bold;
    margin-bottom: 50px;
   
    
}
.about .text hr {
   width: 50%;
   background-color: #10cab7;
    display: inline-block;
    border-color: #10cab7;
}
.about .text p:last-of-type {
    line-height: 2;
    color: #777;
    font-weight: 300;

   
    
}
/*End about*/
/*start contact*/
.contact {
    padding: 60px 0 ;
    background-color: #f6f6f6;
}

.contact .text {
    padding: 60px 0 ;
    text-align: center;
}
.contact .text p  {
    font-size: 35px;
    font-weight: 800;
    color: #2c4755;
    letter-spacing: -2px;
    margin-bottom: 15px; /*defult margin top and bottom for p is 30px so we dicrese it to 15px*/
}
.contact .text a  {
    display: block;
    text-decoration: none;
    font-size: 35px;
    font-weight: 800;
    color: #10cab7;
    letter-spacing: -2px;
}
@media (max-width:767px){
    .contact .text p ,
    .contact .text a {
        font-size: 25px;
    }

}
.contact .text div  {
    margin-top: 20px;
    font-size: 16px;


}
.contact .text div i   {
    color: #2c4755;
    margin-left: 10px;
}

/*End contact*/
/*start footer*/
footer {
    background-color: #2c4755;
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}
footer span {
    color: #10cab7;
    font-weight: bold;
   
}
/*End footer*/
